<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>BussApp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/default.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="simple_list">
            <div><span></span><h3>TOP BUS LINES AND STOPS</h3><span></span></div>
            <div id="simple_list_data">
                <div>Bus Line</div>
            </div>
        </div>
        <script src="/scripts/default.js"></script>
    </body>
</html>
